@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-primary: #135bec;
  --color-primary-dark: #0e45b3;
  --color-primary-light: #dce6fc;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2233;
  --color-text-main: #0d121b;
  --color-text-muted: #4c669a;
  --color-text-inverted: #f8f9fc;
  --color-border-light: #e7ebf3;
  --color-border-dark: #2a3447;
}
